@expo/ui
@expo/vector-icons
@google/generative-ai
@react-native-async-storage/async-storage
@supabase/supabase-js
crypto-js
expo
expo-clipboard
expo-constants
expo-device
expo-font
expo-glass-effect
expo-image
expo-linking
expo-local-authentication
expo-router
expo-secure-store
expo-splash-screen
expo-status-bar
expo-symbols
expo-system-ui
expo-updates
expo-web-browser
react
react-dom
react-native
react-native-element-dropdown
react-native-gesture-handler
react-native-reanimated
react-native-safe-area-context
react-native-screens
react-native-url-polyfill
react-native-web
react-native-worklets
